.mySwiper{
    height: 970px;
    z-index: -1;
}

.mySwiper img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.swiper-slide-active{
    animation-iteration-count: infinite;
    animation: 10s ZoomIn;
}

@keyframes ZoomIn {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.35);
    }
    
}